extends layout

block content
    script(type='text/javascript')
      var data = !{JSON.stringify(data)};

    div(class='bodyBlock')
        h1= data.title
        h2(class='subHeading') Step 1 - Board and Security Info
        form(action='/lists', method='post', onsubmit='return CheckComplete()')
         table
           tr
             td(class='tableHeaders')
               | Token
             td
               input(type='textbox', name='token', id='token', value='', size='75')
               a(href='javascript:GenerateTokenUrl()') [generate token]
           tr
             td(colspan='2', align='left')
                 each b in data.boards
                   li
                       label
                       input(type="radio", name="board", value="#{b.id}")
                       | #{b.name}
           tr
             td(colspan='2', align='center')
               input(type='submit', value='Get Lists', class='buttons')

block scripts

    script(src='/js/init.js')